#countlabel{
    display:block;
    text-align: center;
    font-size: 10em;
    
}
#btncont{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(96, 94, 94);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;

}
.buttons:hover{
    background-color: rgb(5, 5, 10);
}